body{
    background-color: aliceblue;
}
.img {
    width: 100px;
    height: auto;
}
.footer{
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
}
ul li{
    display: inline;
    padding:10px;
}
a{
    text-decoration: none;
}